{% macro render(shifts_data, payments_data, completion_payments_data) %}
{% set ns = namespace(completion_header_shown=false) %}
{% for shift in shifts_data %}
{% if shift.is_completion_apartment and not ns.completion_header_shown %}
{% set ns.completion_header_shown = true %}

{% for payment in payments_data %}
<tr class="travel-row">
  <td>-</td>
  <td>-</td>
  <td>{{ payment.description }}</td>
  <td>-</td>
  <td>-</td>
  <td>-</td>
  <td>{{ "%.2f"|format(payment.amount) }} &#8362;</td>
  <td>-</td>
</tr>
{% endfor %}

<tr class="completion-separator">
  <td colspan="8">השלמות מחודשים קודמים</td>
</tr>
{% endif %}
<tr class="{% if shift.is_completion_apartment %}completion-row{% endif %}{% if shift.tagbor_group %} tagbor-group{% endif %}{% if shift.tagbor_first %} tagbor-first{% endif %}{% if shift.tagbor_last %} tagbor-last{% endif %}">
  <td>{{ shift.date }}</td>
  <td>{{ shift.day }}</td>
  <td>{{ shift.apartment }}</td>
  <td>{{ shift.shift_type }}</td>
  <td>{{ shift.start_time }}</td>
  <td>{{ shift.end_time }}</td>
  <td>{{ "%.2f"|format(shift.work_hours) }}</td>
  <td>{{ "%.2f"|format(shift.standby_hours) }}</td>
</tr>
{% endfor %}

{% if not ns.completion_header_shown %}
{% for payment in payments_data %}
<tr class="travel-row">
  <td>-</td>
  <td>-</td>
  <td>{{ payment.description }}</td>
  <td>-</td>
  <td>-</td>
  <td>-</td>
  <td>{{ "%.2f"|format(payment.amount) }} &#8362;</td>
  <td>-</td>
</tr>
{% endfor %}
{% endif %}

{% for payment in completion_payments_data %}
<tr class="travel-row completion-row">
  <td>-</td>
  <td>-</td>
  <td>{{ payment.description }}</td>
  <td>-</td>
  <td>-</td>
  <td>-</td>
  <td>{{ "%.2f"|format(payment.amount) }} &#8362;</td>
  <td>-</td>
</tr>
{% endfor %}
{% endmacro %}
